.evenBackground {
    padding: 20px 0 20px 20px;
    margin-bottom: 20px;
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    overflow-Y: auto;
    background-color: #F0F0F0;
    -webkit-box-shadow: 4px 16px 10px -6px rgba(0,0,0,0.21);
    -moz-box-shadow: 4px 16px 10px -6px rgba(0,0,0,0.21);
    box-shadow: 4px 16px 10px -6px rgba(0,0,0,0.21);
}

.goto {
    margin-top: 20px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.oddBackground {
    @extend .evenBackground;
    background-color: #FFFFFF !important;
}

.postlist {
    width: 1225px;
}

.postContainer {
    float: left;

    .postImg {
        float: left;
        width: 200px;
        height: 152px;
    }

    .postDetail {
        float: left;
        width: 730px;
        margin-left: 20px;
    }

    .title {
        font-size: 17px;
        margin-bottom: 17px;
    }

    .detail {
        font-size: 15px;
        margin-bottom: 20px;
        color: #666666;
    }

    .create {
        font-size: 15px;
        color: #AAAAAE;
        font-style: italic;
    }
}

.authorContainer {
    border-left: 1px solid #DDDDDD;
    cursor: pointer;
    float: right;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .authorImg {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    .authorName {
        font-size: 17px;
        margin-top: 14px;
        margin-bottom: 15px;
        color: #E08D8B;
    }

    .authorRole {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .authorPlace {
        font-size: 13px;
        margin-bottom: 15px;
    }
}

#ForumsContainer {
    margin: 20px 0 20px 20px;

    .title {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .subtitle {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .posts {
        font-size: 17px;
        margin-bottom: 18px;
    }
}

.pagination-forums {
    font-size: 16px;
    color: black;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
        margin-right: 25px;
    }

    .active {
        position: relative;

        a {
            position: absolute;
            background-color: #C83430;
            color: white;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -17px;
            margin-top: -17px;
        }
    }

    a {
        color: black;
    }
}
