.goto {
    margin-top: 20px;
    margin-right: 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#MaqeStylingContainer {
    width: 1011px;
    height: 1014px;
    background-color: #F7F7F7;
    padding: 60px;

    .wrapBlock {
        border-radius: 30px;
        background-color: #67C3E9;
        width: 885px;
        height: 890px;
        display: flex;
        justify-content: center;
        align-items: center;

        .blockContainer {
            padding: 37.5px;
            border-radius: 30px;
            border: 16px solid #F7F7F7;
            background-color: #67C3E9;
            width: 853px;
            height: 858px;
            position: relative;
            background: -webkit-linear-gradient(#67C3E9, #9CD5D1);
            /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(#67C3E9, #9CD5D1);
            /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(#67C3E9, #9CD5D1);
            /* For Firefox 3.6 to 15 */
            background: linear-gradient(#67C3E9, #9CD5D1);
            /* Standard syntax (must be last) */
            .characterContianer {
                text-shadow: -2px 1px 0 rgba(150, 150, 152, 1);
                color: #67C3E9;
                font-size: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                z-index: 2;
                background-color: #F7F7F7;
                border-radius: 5px;
                margin: 37.5px;
                width: 300px;
                height: 300px;
                -webkit-box-shadow: inset 3px 4px 29px -1px rgba(0,0,0,0.48);
                -moz-box-shadow: inset 3px 4px 29px -1px rgba(0,0,0,0.48);
                box-shadow: inset 3px 4px 29px -1px rgba(0,0,0,0.48);
            }

            .wrapCenterBlock {
                height: 100%;
                width: 100%;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;

                .centerBlock {
                    background-color: #9BD6E4;
                    width: 345px;
                    height: 345px;
                }
            }
        }
    }
}
